@layer tokens {
    :where(:root, :host) {
  --colors-sage-light: hsl(155, 30.0%, 98.8%);
  --colors-sage: hsl(150, 14.3%, 97.3%);
  --colors-grass-a3: hsla(120, 98.0%, 35.5%, 0.079);
  --colors-grass-a4: hsla(120, 98.7%, 31.5%, 0.126);
  --colors-grass-a5: hsla(122, 98.5%, 29.9%, 0.193);
  --colors-grass-a6: hsla(125, 99.2%, 27.9%, 0.283);
  --colors-grass-a7: hsla(125, 99.9%, 27.0%, 0.408);
  --colors-grass-a8: hsla(131, 100%, 27.6%, 0.604);
  --colors-grass-a9: hsla(131, 99.7%, 26.3%, 0.726);
  --colors-grass-a10: hsla(132, 99.9%, 24.0%, 0.761);
  --colors-grass-a11: hsla(133, 99.5%, 19.5%, 0.840);
  --colors-grass-a12: hsla(131, 99.1%, 6.3%, 0.875);
  --fonts-alegre: var(--font-alegre-sans), sans-serif;
  --breakpoints-sm: 640px;
  --breakpoints-md: 768px;
  --breakpoints-lg: 1024px;
  --breakpoints-xl: 1280px;
  --breakpoints-2xl: 1536px;
  --sizes-breakpoint-sm: 640px;
  --sizes-breakpoint-md: 768px;
  --sizes-breakpoint-lg: 1024px;
  --sizes-breakpoint-xl: 1280px;
  --sizes-breakpoint-2xl: 1536px
}
  }
  