.homepage {
  background: url("/images/bg-foot.jpg") no-repeat;
  background-position: -3300px center;
  object-fit: fill;
  height: 100vh;
  mask-image: linear-gradient(
    90deg,
    rgba(31, 38, 31, 1) 20%,
    rgba(31, 38, 31, 0.472) 30%,
    rgba(31, 38, 31, 0.2) 50%,
    rgba(208, 15, 15, 0.03) 60%
  );

  z-index: -1;
  position: absolute;
  width: 100%;
  @media screen and (max-width: 1024px) {
    mask-image: linear-gradient(
      180deg,
      rgba(31, 38, 31, 1) 10%,
      rgba(31, 38, 31, 0.472) 20%,
      rgba(31, 38, 31, 0.2) 30%,
      rgba(208, 15, 15, 0.03) 60%
    );
  }
}
