@font-face {
  font-family: 'Nato Sans';
  src: url('assets/font/noto-sans/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Nato Sans';
  src: url('assets/font/noto-sans/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Nato Sans';
  src: url('assets/font/noto-sans/NotoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Nato Sans';
  src: url('assets/font/noto-sans/NotoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nato Sans', sans-serif;
    font-weight: 400;
}
}














