@font-face {
  font-family: 'Nato Sans';
  src: url('assets/font/nato-sans/NotoSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Nato Sans';
  src: url('assets/font/nato-sans/NotoSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  }

@font-face {
  font-family: 'Nato Sans';
  src: url('assets/font/nato-sans/NotoSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Nato Sans';
  src: url('assets/font/nato-sans/NotoSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
padding: 0;
margin: 0;
box-sizing: border-box;
--font-nato-sans: 'Nato Sans', sans-serif;

}

body {
  margin: 0;
  min-height: 100vh;
}






