@layer utilities {

  .ml_1rem {
    margin-left: 1rem
    }

  .bg_white {
    background: var(--colors-white)
    }

  .border_1px_solid_gray\.300 {
    border: 1px solid gray.300
    }

  .border_1px_solid_gray-100 {
    border: 1px solid gray-100
    }

  .border_1px_solid_border {
    border: 1px solid border
    }

  .border_1px_solid_gray {
    border: 1px solid gray
    }

  .border_1px_solid_gray-light {
    border: 1px solid gray-light
    }

  .border_1px_solid_grayLight {
    border: 1px solid grayLight
    }

  .bg_white {
    background-color: var(--colors-white)
    }

  .text_black {
    color: var(--colors-black)
    }

  .d_flex {
    display: flex
    }

  .items_center {
    align-items: center
    }

  .justify_center {
    justify-content: center
    }

  .rounded_0\.5rem {
    border-radius: 0.5rem
    }

  .border_1px_solid_var\(--colors-gray-light\) {
    border: 1px solid var(--colors-gray-light)
    }

  .bg_white {
    background-color: white
    }

  .p_0\.5rem_0 {
    padding: 0.5rem 0
    }

  .fs_0\.875rem {
    font-size: 0.875rem
    }

  .font_400 {
    font-weight: 400
    }

  .text_black {
    color: black
    }

  .cursor_pointer {
    cursor: pointer
    }

  .shadow_0_4px_6px_-1px_rgb\(0_0_0_\/_0\.1\)\,_0_2px_4px_-2px_rgb\(0_0_0_\/_0\.1\) {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1)
    }

  .transition_background-color_0\.2s_ease-in-out {
    transition: background-color 0.2s ease-in-out
    }

  .hover\:bg_white-primary:is(:hover, [data-hover]) {
    background-color: white-primary
        }

  .hover\:bg_white-primary:is(:hover, [data-hover]) {
    background-color: var(--colors-white-primary)
        }

  .hover\:bg_gray:is(:hover, [data-hover]) {
    background-color: var(--colors-gray)
        }
}